* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}


.header-link > a:hover{
    /* background-color: #ffd700; */
    border: solid #ffd700 3px;

    margin: 0;
    padding: 12px;
    border-radius: 500000000px;
}

.red {
    background-color: #CE1328;
}

.mobile-header, .mobile-menuOpen {
    display: none;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.icone-header {
    width: 75px;
    margin-right: 15px;
}

.header-link {
    margin-left: 15px;
}

.header-link > a {
    margin: 15px;
}


@media screen and (max-width: 400px) {
    .header-wrapper {
        display: none;
    }
    .mobile-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
    }
    
    .icone-header {
        width: 35px;
        margin: 5px;
    }
    
    .mobile-menuOpen {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        /* margin-left: 20%; */
    }
    
    .mobile-menuOpen > a {
        margin: 10px;
    }
}





