* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}


.header-link > a:hover{
    /* background-color: #ffd700; */
    border: solid #ffd700 3px;
    
    margin: 0;
    padding: 12px;
    border-radius: 500000000px;
}

.red {
    background-color: #CE1328;
}

.mobile-header, .mobile-menuOpen {
    display: none;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.icone-header {
    width: 75px;
    margin-right: 15px;
}

.header-link {
    margin-left: 15px;
}

.header-link > a {
    margin: 15px;
}

/* media nav bar */
@media screen and (max-width: 400px) {
    .header-wrapper {
        display: none;
    }
    .mobile-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
    }
    
    .icone-header {
        width: 35px;
        margin: 5px;
    }
    
    .mobile-menuOpen {
        display: none;
        position: absolute;
        flex-direction: column;
        align-items: center;
        width: 100%;
        z-index: 99;
        /* margin-left: 20%; */
    }
    
    .mobile-menuOpen > a {
        margin: 10px;
    }
}


.wrapper-button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}


.wrapper-button > label {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wrapper-button > label > .button-text {
    margin-top: 20px;
}


@keyframes click-wave {
    0% {
        height: 40px;
        width: 40px;
        opacity: 0.35;
        position: relative;
    }
    100% {
        height: 200px;
        width: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0;
    }
}

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 13.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 40px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 2;
}
.option-input:hover {
    background: #cbd1d8;
}
.option-input:checked {
    background: #CE1328;
}
.option-input:checked::before {
    height: 40px;
    width: 40px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 40px;
}
.option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #CE1328;
    content: '';
    display: block;
    position: relative;
    z-index: 1;
}



.wrapper-monument, .wrapper-adresses, .wrapper-activity{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px 20px;
    color: white;
}


.debug-img {
    padding: 2.3% 0;
} 


.h1-interet {
    margin: 2% 5%;
    color: black;
}

.card-interet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    width: 33%;
}

.card-interet > img {
    width: 100%;
    max-height: 300px;
    margin-bottom: 20px;
} 



/* media interet page */

@media screen and (max-width: 400px) {
    .wrapper-monument, .wrapper-adresses, .wrapper-activity {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 38px 0;
    }
    
    .card-interet {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 90%;
        padding: 10px 25px;
        margin: 25px 0 5px 0;
        border: solid #ffd700 5px;
        border-radius: 10px;
    }
    
    .card-interet img {
        width: 100%;
        object-fit: fill;
        margin-right: 3%;
        border: solid gray 2.5px;
        border-radius: 100px;
        margin-bottom: 8px;
        
    }
    
    .dresc {
        color: white;
    }
}


.footer {
    background-color: #ce1328;
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
}

.footer a {
    text-decoration: none;
    color: black;
}

.footerLinks {
    text-align: center;
}

.footerLinks a:hover {
    color: #ffd700;
}

.logo {
    max-width: 35px;
    max-height: 35px;
    margin: 5px 10px;
}

#copyrightSymbol {
    width: 180px;
}

.logo:hover {
    filter: invert(89%) sepia(16%) saturate(6827%) hue-rotate(358deg) brightness(106%) contrast(104%);
}
