


/*HEADER*/



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
}

body {
  background-image: url("https://media.istockphoto.com/vectors/abstract-3d-cube-pattern-background-white-3d-box-seamless-background-vector-id947324414?b=1&k=6&m=947324414&s=612x612&w=0&h=ZxeIJgeMNC0JI-TueG6ByRghzfS6NSclXm9obi3e39k=");
  background-repeat: repeat;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar{
    display: none;
}

a {
    text-decoration: none;
    color: white;
}

.red {
    background-color: #CE1328;
}

.mobile-header, .mobile-menuOpen {
    display: none;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.icone-header {
    width: 75px;
    margin-right: 15px;
}

.header-link {
    margin-left: 15px;
}

.header-link > a {
    margin: 15px;
}


@media screen and (max-width: 400px) {
    .header-wrapper {
        display: none;
    }
    .mobile-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
    }
    
    .icone-header {
        width: 35px;
        margin: 5px;
    }
    
    .mobile-menuOpen {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        /* margin-left: 20%; */
    }
    
    .mobile-menuOpen > a {
        margin: 10px;
    }
}

/*ARTICLE*/

.articleImg{
    width: 50%;
    border-radius: 15px;
    border: black solid 4px;
}

.titleSection{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2%;
}

.titleSection h1{
    border: black solid 2px;
    border-radius: 10px;
    padding: 10px;
}

.titlePlace{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 0.4;
    color: rgb(255, 255, 255);
    width: 30%;
    height: 200px;
    border-radius: 15px;
}

.zoneTexte{
    background-color: #CE1328;
    opacity: 0.6;
    color: rgb(255, 255, 255);
    width: 70%;
    text-align: center;
    margin: 5% 15%;
    font-size: 20px;
    border-radius: 15px;
    padding: 10px;
}

.zoneTexte p{
    width: 80%;
    margin: 0 10%;
}



/*CGU*/

.Images-cgu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.images2-cgu {
    width: 25%;
}

.images-cgu {
    width: 25%;
    height: 5%;
}


@media screen and (max-width: 780px){
    .carré{
        width: 80%;
    }
}

.carré {
  width: 50%;
  padding: 200px 0;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 300px;
  background-color: #CE1328;
  border-radius: 30px;
}

.centre {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
}



.centre p {
	font-size: 24px;
	color: rgb(0, 0, 0);
    text-align: center;
    margin: 0 50px;
}


span{ 
    color: #CE1328;
    font-size: 24px;
}

span:hover{
    text-shadow:#ff0000 2.5px 2.5px 0,
  #ff8400 1px 1px 0,
  #ffaa00 3px 3px 0,
  #00ffea 5px 5px 0,
  rgb(0, 0, 0) 7px 7px 7px;
    color:#bdbdbd;

    
}






/*FOOTER*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    background-color: #ce1328;
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
}

.footer a {
    text-decoration: none;
    color: black;
}

.footerLinks {
    text-align: center;
}

.footerLinks a:hover {
    color: #ffd700;
}

.logo {
    max-width: 35px;
    max-height: 35px;
    margin: 5px 10px;
}

#copyrightSymbol {
    width: 180px;
}

.logo:hover {
    filter: invert(89%) sepia(16%) saturate(6827%) hue-rotate(358deg) brightness(106%) contrast(104%);
}
